<!--src/components/Base.astro-->
---
const { pageTitle="ទំព័រ​គ្រឹះ" } = Astro.props
---
 
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <link rel="icon" href="/images/siteLogo.png" />
        <link href="/fonts/setup.css" rel="stylesheet" />
    </head>
    <body>
        <slot />
    </body>
</html>